ds-icon {
  &.ds-icon--sm {
    font-size: var(--ds-fs-caption);
  }

  &.ds-icon--md {
    font-size: var(--ds-fs-body-lg);
  }

  &.ds-icon--lg {
    font-size: var(--ds-fs-heading);
  }

  &.ds-icon--xl {
    font-size: var(--ds-fs-display-sm);
  }
}
