.ds-dialog-panel {
  .mat-mdc-dialog-surface {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    border-radius: var(--mat-sys-corner-extra-large);
  }
}

.ds-dialog-title {
  font: var(--mat-sys-headline-small);
  color: var(--mat-sys-on-surface);
  margin: 0;
  padding: 24px 24px 0;
}

.ds-dialog-content {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
  padding: 16px 24px;
}

.ds-dialog-actions.mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 0 24px 24px;
}
