@use './styles/theme';
@use './styles/components';

html {
  height: 100%;
  color-scheme: dark;
  @include theme.theme();
}

body {
  background-color: var(--ds-bg);
  color: var(--ds-text);
  font-family: var(--ds-font-sans);
  font-size: var(--ds-fs-body);
  font-weight: var(--ds-fw-regular);
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}
